<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
    <title>Info: <%= Campground._id %></title>
</head>
<body>
    <main>
        <h1><%= Campground.title %></h1>
    </main>
</body>
</html>