<% layout('layouts/boilerplate') -%>
    <% Campgrounds.forEach(function(campground){ %>
    <a href="/campgrounds/<%= campground._id %>">
    <div>
        <h1><%= campground.title %></h1>
    </div>
    </a>
    <% }); %>
    </div>
   