<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head'); -%>
    <title>Home</title>
</head>
<body>
    <main>

        
       <% Campgrounds.forEach(function(campground){ %>
        <a href="/campgrounds/<%= campground._id %>">
        <div>
            <h1><%= campground.title %></h1>
            <p>Hello human!</p>
        </div>
        </a>

        <% }); %>
       


        </div>
    </main>
</body>
</html>